<mat-form-field class="w-full">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>
  
  <div class="shadow-md overflow-x-auto biorder">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="cedula">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cedula</th>
        <td mat-cell *matCellDef="let row"> {{row.cedula}} </td>
      </ng-container>
      <ng-container matColumnDef="nombrecompleto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Completo</th>
        <td mat-cell *matCellDef="let row"> {{row.nombrecompleto}} </td>
      </ng-container>
      <ng-container matColumnDef="empresa">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Empresa</th>
        <td mat-cell *matCellDef="let row"> {{row.empresa}} </td>
      </ng-container>
      <ng-container matColumnDef="cargo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cargo</th>
        <td mat-cell *matCellDef="let row"> {{row.cargo}} </td>
      </ng-container>
      <ng-container matColumnDef="correo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
        <td mat-cell *matCellDef="let row"> {{row.correo}} </td>
      </ng-container>
      <ng-container matColumnDef="jefeInmediato">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Jefe Inmediato</th>
        <td mat-cell *matCellDef="let row"> {{row.jefeInmediato}} </td>
      </ng-container>
      <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button class="hover:bg-yellow-400 rounded-md m-4 p-1" (click)="EditEmpleado(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button class="hover:bg-red-500 rounded-md p-1" (click)="deleteEmpleado(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">no hay datos para filtrar "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
  
  
